doctype html
html
  head
    title Retirement
    = csrf_meta_tags

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag params[:controller]

    = javascript_include_tag 'application'
    = javascript_include_tag params[:controller]

  body
    = yield
